
p {

    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: blanchedalmond;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    font-size: 50px;
    border-style: inherit;
}

h6 {

    margin-left: 80%;
}

body {
    background-color: antiquewhite;
}
img {
    border: thin;
    border-radius: 12px;
    width: 750x;
    height: 500px;
    margin-left: 31%;
    
}