
p {

    font-family: cursive;
    font-size: medium;

}

body{
    background-color: red;
}
img {
    border: thin;
    border-radius: 12px;
    width: 200px;
    height: 200px;
    margin-left: 40%;
}
